/*---------------------------------------------------------------*/
/*fonts*/
@font-face {
    font-family: Haettenschweiler;
    src: url(../fonts/Haettenschweiler/haettenschweiler);
    font-weight:lighter;
}

@font-face {
    font-family: love_of_thunder;
    src: url(../fonts/a_love_of_thunder/A_Love_of_Thunder.ttf);
    font-weight:lighter;
}

@font-face {
    font-family: helveticaNeue;
    src: url(../fonts/HelveticaNeue/HelveNeuMedCon);
}

body {
	background-color: #fff;
	width:100%;
	height:100%;
	min-height:100%;
	position: absolute;
	margin:0;
	padding:0;
}

.loaderBlock{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-color: #fff;
}

.wrapper{
	margin-top:100px; 
	background-color: #fff;
	margin:0;
	padding:0;
	display: none;
	height:100%;
	min-height:100%;
}

.loaderIcon{
	display: block;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:300px;
	width:20%;
}

/*header*/
/*---------------------------------------------------------------*/
.title {
	font-family:'love_of_thunder';
	font-size: 2vw;
	color:#000;
	text-align: center;
	padding-top:30px;
	padding-bottom:1%; 
}

.formLabels {
	font-family:'love_of_thunder';
	font-size: 15px;
	color:#000;
	padding-bottom:1%; 
}

.navBtn, .allBtn {
	padding-left: 4%;
	font-family:'love_of_thunder';
	font-size: 3vw;
	letter-spacing:.1em; 
}

/*.navBtn {
	font-size: 90%;
}*/

.allBtn {
	font-size: 3vw;
}


/*modals*/
/*---------------------------------------------------------------*/

.zBoost {
	z-index:1000;
}

.close {
    color: #fff; 
    opacity: 1;
}

.modalCenter {
	margin-left:auto;
	margin-right:auto;
	margin-top: 70px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  border-radius: 0;
  min-height: 100%; 
  height: auto;
}

/*nav*/
/*---------------------------------------------------------------*/
.scanBtns {
	padding: 2% 20px 2% 20px;
}

.caliPadding{
	padding-left: 2%;
}

.lrgScanBtn{
	display:block;
	background-image: url("../img/barcodeBg.png");
	margin-top:5%;
	width:60%;
}

.addItemBtn {
	font-size: 1.5vw;
}
.executeScan{
	background-image: url("../img/barcodeBg.png");
	font-size: 2.3vw;
}

.btn:focus,.btn:active {
   outline: none !important;
}

/*Main*/
/*---------------------------------------------------------------*/
.scanInContBlock, #addClientFormCont, #invDataCont, #customerLookupFormCont {
	display: none;
	background: #dedede;
	padding: 5% 0 5% 0;
	margin-top: 3%;
}

 #invDataCont {
 	background: #fff;
 }

/*forms*/
/*---------------------------------------------------------------*/
.requiredField{
	font-size: 15px;
	color:red;
}

/*general*/
/*---------------------------------------------------------------*/


.alerts{
	display: block;
	background: #dedede;
	padding:2%;
	margin:2% 0 2% 0;
}

.alertText {
	display: inline;
	font-family:'love_of_thunder';
	font-size: 1.7vw;
}

.green {
	color:#379d50;
}

.blue {
	color:#2e7bb3;
}

.orange {
	color:#f3ac5d;
}

.gray{
	color:#9e9e9e;
}

.fixed {position: fixed;}

.no-padding{
	padding-left:0; 
	padding-right:0;
}

.noBorder {border: none;}

.full-image {
	width:100%;
}

.centerItem, .buttonWidth70 {
	
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.buttonWidth70 {
	width:99%;
}

